<?xml version="1.0" encoding="UTF-8"?>
<web-app>

 <display-name>validation service</display-name>

  <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
  <filter>
		<filter-name>Guice Filter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>


	<listener>
		<listener-class>com.nature.nlm.validation.service.modules.NLMServiceGuiceConfiguration</listener-class>
	</listener>


	<filter-mapping>
		<filter-name>Guice Filter</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>

 
</web-app>
